<div class="story-container">
  <div class="story story-header">
    <div class="infobit"></div>
    <% @num_weeks.times do |week_index| %>
    <% monday = Date.today.beginning_of_week + 7*week_index %>
    <div class="week">
      <div class="day month-day"><span class="month"><%= monday.strftime('%b') %></span><span class="date"><%= monday.strftime('%e') %></span></div>
      <div class="day"><%= (monday + 1.days).strftime('%e') %></div>
      <div class="day"><%= (monday + 2.days).strftime('%e') %></div>
      <div class="day"><%= (monday + 3.days).strftime('%e') %></div>
      <div class="day"><%= (monday + 4.days).strftime('%e') %></div>
      <div class="day weekend"><%= (monday + 5.days).strftime('%e') %></div>
      <div class="day weekend"><%= (monday + 6.days).strftime('%e') %></div>
    </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <% @issues.each_with_index do |issue, index| %>
  <div class="story <%= index % 2 == 0 ? 'odd' : 'even' %>">
    <div class="infobit">
      <ul class="assignees">
        <% issue.assignees.each do |assignee| %>
        <li><%= assignee.name %></li>
        <% end %>
      </ul>
      <h1 class="identifier"><a href="https://jirarenewfundcom/browse/<%= issue.jira_id %>"><%= issue.jira_id %></a></h1>
      <p class="description"><%= issue.name %></p>
    </div>
    <% @num_weeks.times do |week_index| %>
    <% monday = Date.today.beginning_of_week + 7*week_index %>
    <div class="week">
      <div class="day <%= issue.sections_for_date(monday + 0.days) %>"></div>
      <div class="day <%= issue.sections_for_date(monday + 1.days) %>"></div>
      <div class="day <%= issue.sections_for_date(monday + 2.days) %>"></div>
      <div class="day <%= issue.sections_for_date(monday + 3.days) %>"></div>
      <div class="day <%= issue.sections_for_date(monday + 4.days) %>"></div>
      <div class="day <%= issue.sections_for_date(monday + 5.days) %> weekend"></div>
      <div class="day <%= issue.sections_for_date(monday + 6.days) %> weekend"></div>
    </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <% end %>
  <div class="story new-story omega">
    <div class="infobit">
      <button class="btn new">New story</button>
    </div>
    <% @num_weeks.times do |week_index| %>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>